@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    margin: 0;
    background: url("https://images.unsplash.com/photo-1575220360526-be964710f279?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 0, 0, 0.5); 
    z-index: -1;
}

.welcome h1{
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    text-align: center;
    color: white;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards 1s;
    margin-top: 6cm;
    margin-bottom: 10px;
}

.welcome h3{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    color: rgb(245, 204, 176);
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards 1s;
}

.welcome .btn{
  width: 25%;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 360px;
  padding: 12px 30px;
  letter-spacing: 0.8px;
  border: none;
  transition: all 1s ease;
  border-radius: 28px;
  animation: fadeInScale 1s ease forwards 1s;
  background: white;
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
